.app {
  max-width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.item {
    display: flex;
    justify-content: space-between;
}
